.icon-btn-lg{
  padding: 20px 30px;
  img {
    margin-right: 10px;
  }
}

.icon-btn{
  padding: 15px 30px;
  img {
    margin-right: 10px;
  }
}

.card-outline {
  border: 2px solid #A9A9A9;
  border-radius: 8px;
  background: #fff;
}